* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy-blue: #111722;
  --navy-blue-dark: #131720;
  --oxford-blue-light: #162032cc;
  --oxford-blue: #162032;
  --blue: #3182ed;
  --off-white: #e0e0e0;
  --yellow: #ffc414;
  --white: #ffffff;
}

.primary-color {
  color: var(--blue);
}

body {
  width: 100%;
  margin: auto;
  max-width: 1300px;
  background: var(--navy-blue-dark);
  font-family: "Poppins", sans-serif;
}

header {
  margin: auto;
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}

.logo {
  color: #fff;
  cursor: pointer;
}

.label {
  position: relative;
}

.search {
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 12px 20px;
  color: var(--white);
  border-radius: 30px;
  background: var(--oxford-blue);
}

.search::placeholder {
  color: var(--off-white);
}

.search:focus {
  color: #fff;
  outline: none;
}

.search-icon {
  top: -2px;
  right: 20px;
  font-size: 20px;
  color: var(--blue);
  position: absolute;
}

#main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 320px);
}

.movie {
  width: 300px;
  margin: 1rem;
  color: #eee;
  overflow: hidden;
  letter-spacing: 1px;
  border-radius: 8px;
  background: var(--oxford-blue);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
}

.movie img {
  max-width: 100%;
  border-radius: 8px 0 0;
}

.primary-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.primary-info h3 {
  margin-bottom: 15px;
  font-size: 1rem;
}

.secondary-info {
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
}

.secondary-info span {
  font-weight: bold;
}

.secondary-info span.green {
  color: #76d152;
}

.secondary-info span.orange {
  color: #f2a955;
}

.secondary-info span.red {
  color: #e93f3f;
}
