* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --navy-blue: #111722;
  --navy-blue-dark: #131720;
  --oxford-blue-light: #162032cc;
  --oxford-blue: #162032;
  --blue: #3182ed;
  --off-white: #e0e0e0;
  --yellow: #ffc414;
  --white: #ffffff;
}

.primary-color {
    color: var(--blue);
}

body {
    width: 100%;
    max-width: 1300px;
    margin: auto;
  background: var(--navy-blue-dark);
  font-family: "Poppins", sans-serif;
}

header {
    margin: auto;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.logo {
    cursor: pointer;
  color: #fff;
}

.search {
  outline: none;
  background: var(--oxford-blue);
  border-radius: 30px;
  padding: 12px 20px;
  color: var(--white);
  font-size: 1rem;
  border: none;
}

.search::placeholder {
  color: var(--off-white);
}

.search:focus {
  color: #fff;
  outline: none;
}

.label {
    position: relative;

}

.search-icon {
    position: absolute;
    top: -2px;
    right: 20px;
    color: var(--blue);
    font-size: 20px;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  justify-content: center;
}

.movie {
  margin: 1rem;
  background: #373b69;
  color: #eee;
  border-radius: 2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  letter-spacing: 1px;
  overflow: hidden;
}

.movie img {
  max-width: 100%;
}

.movie-info {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-info span {
  background: #22254b;
  padding: 5px 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.movie-info span.green {
  color: #76d152;
}

.movie-info span.orange {
  color: #f2a955;
}

.movie-info span.red {
  color: #e93f3f;
}
